
.main-container{background-color:#eee;}

.collapsed {
    margin-left: 100px;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
@media print {
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}


mat-icon{
    font-size: 20px;}

    .main-container{margin:0 auto;
    width: 100%;}


mat-card{border-radius:0; }

button{
    vertical-align: middle;
    display: inline-flex;
}
