
<h2>
  Welcome to CROWDFIT!<br>
  What would you like to sign up for?<br><br>
</h2>

<nav>
  <!-- TODO Change "그냥 크라우드핏 쓰기" routerLink when Created 
  <a (click)="nonmemberClicked()" routerLink='/signup/welcome'>
    그냥 크라우드핏 쓰기
  </a>-->
  <!--
  <a routerLink='/signup/as'>
    커뮤니티
  </a>-->
  <a (click)="residentClicked()" routerLink='/signup/find'>
    커뮤니티 입주인
  </a>
  <a (click)="staffClicked()" routerLink='/signup/find'>
    커뮤니티 직원
  </a>
  <a (click)="adminClicked()" routerLink='/signup/find'>
    커뮤니티 대표
  </a>
  <!--
  <a routerLink='/signup/as'>
    피트니스
  </a>-->
  
</nav>