$topnav-background-color: #2f2f30;
:host {
  .navbar {
    border-bottom: #777 solid 0.5px;
    background-color: $topnav-background-color;
    .navbar-brand {
      color: #fff;
    }
    .nav-item > a {
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }

}
.dropdown-menu-right
{margin-left:-100px;}