<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>











<nav class="sidebar">
  <div class="sidebar-wrap">


    <div class="img">
      <div class="content">
          <h5>CROWD-FIT</h5>
          <h6>apartment commuity service</h6>
      </div>
      <div class="img-cover"></div>
  </div>



    <div class="list-group">

      <!--공지사항-->
      <button mat-stroked-button  routerLink="/m/notice">
          <mat-icon>event_note</mat-icon>
          <br>
          <span>공지사항 </span>
        </button>

      <!--단지안내-->
      <button mat-stroked-button  routerLink="/m/danzi">
          <mat-icon>location_city</mat-icon>
          <br>
          <span>단지안내</span>
        </button>
      <!--스마트관리비-->
      <button mat-stroked-button  routerLink="/m/expense">
          <mat-icon>local_atm</mat-icon>
          <br>
          <span>스마트<br>관리비</span>
        </button>
      <!--커뮤니티-->
      <button mat-stroked-button  routerLink="/m/community">
          <mat-icon>public</mat-icon>
          <br>
          <span>커뮤니티</span>
       </button>
      <!--문화강좌-->
      <button mat-stroked-button  routerLink="/m/culture">
          <mat-icon>school</mat-icon>
          <br>
          <span>문화강좌</span>
        </button>
      <!--독서실-->
      <button mat-stroked-button  routerLink="/m/library">
          <mat-icon>edit</mat-icon>
          <br>
          <span>독서실</span>
        </button>
      <!--주민투표-->
      <button mat-stroked-button  routerLink="/m/vote">
          <mat-icon>thumb_up</mat-icon>
          <br>
          <span>주민투표</span>
        </button>
      <!--생활지원-->
      <button mat-stroked-button  routerLink="/m/life">
          <mat-icon>restaurant</mat-icon>
          <br>
          <span>생활지원</span>
        </button>
      <!--의무공개-->
      <button mat-stroked-button  routerLink="/m/disclosure">
          <mat-icon>drafts</mat-icon>
          <br>
          <span>의무공개</span>
        </button>
        <button mat-stroked-button  routerLink="/m/permission">
          <mat-icon>beenhere</mat-icon>
          <br>
          <span>권한설정</span>
        </button>
        <button mat-stroked-button  routerLink="/m/video">

          <mat-icon>play_circle_outline</mat-icon>
          <br>
          <span>FIT동영상</span>
        </button>
        <button mat-stroked-button  routerLink="/m/music">

          <mat-icon>
            queue_music</mat-icon>
          <br>
          <span>FIT뮤직</span>
        </button>
    </div>
  </div>
</nav>