mat-card {
  border-radius: 0;
  padding: 10px;
  background-color: #eee;
}
mat-card-title {
    font-size: 0.8em;
  color: #444;
  vertical-align: middle;
  display: inline-flex;
}
.table{
    font-size: 0.8rem;  
    
    background-color: white;}
 nav{text-align: center;
    margin-left: 35%;}