<mat-card>
  <mat-card-title >
      <mat-icon matPrefix>keyboard_arrow_right</mat-icon>커뮤니티</mat-card-title>
 
</mat-card>
<table class="table">
   
    <tbody>
        <tr>
            <th scope="row">10</th>
            <td>안녕하세요</td>
            <td>룰루랄라</td>
            <td>2019.04.30</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>등업신청합니다.</td>
            <td>제랄</td>
            <td>2019.04.30</td>
          </tr>
      <tr>
        <th scope="row">8</th>
        <td>안녕하세요</td>
        <td>워니맘</td>
        <td>2019.04.30</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>등업신청합니다.</td>
        <td>룰루랄라</td>
        <td>2019.04.29</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>등업신청합니다.</td>
        <td>진진자라</td>
        <td>2019.04.28</td>
      </tr>
      <tr>
          <th scope="row">5</th>
          <td>날씨 좋아요.</td>
          <td>김군</td>
          <td>2019.04.27</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>등업신청합니다.</td>
            <td>유리</td>
            <td>2019.04.26</td>
          </tr>
          <tr>
              <th scope="row">3</th>
              <td>등업신청합니다.</td>
              <td>존</td>
              <td>2019.04.25</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>관리비 얼마 나오세요?</td>
                <td>젠</td>
                <td>2019.04.24</td>
              </tr>
              <tr>
                  <th scope="row">1</th>
                  <td>등업신청합니다.</td>
                  <td>워니맘</td>
                  <td>2019.04.23</td>
                </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" >1</a></li>
  
        <li class="page-item">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>