<mat-card>
  <mat-card-title >
      <mat-icon matPrefix>keyboard_arrow_right</mat-icon>권한설정
  </mat-card-title>
 
</mat-card>
<div class="row">
  <div >
      
  
  
  <table class="table ">
     
      
        
     
    
    <tbody>
      <tr>
        <th scope="row">목록보기</th>
        <td>
          <mat-checkbox>비회원</mat-checkbox>
          </td>
            <td>
            <mat-checkbox>입주민</mat-checkbox>
          </td>

          <td>
            <mat-checkbox>직원</mat-checkbox>
           
          </td>
        <td>
          <mat-checkbox>관리자</mat-checkbox>
            </td>
      </tr>
      <tr>
        <th scope="row">읽기권한</th>
       
            <td>
                <mat-checkbox>비회원</mat-checkbox>
                </td>
            
              <td>
                  <mat-checkbox>입주민</mat-checkbox>
                </td>
            
                <td>
                  <mat-checkbox>직원</mat-checkbox>
                 
                </td>
            
                <td>
                <mat-checkbox>관리자</mat-checkbox>
                  </td>
           
      </tr>
      <tr>
        <th scope="row">쓰기권한</th>
     
            <td>
                <mat-checkbox>비회원</mat-checkbox>
                </td>
           
              <td>
                  <mat-checkbox>입주민</mat-checkbox>
                </td>

                <td>
                  <mat-checkbox>직원</mat-checkbox>
                 
                </td>
              <td>
                <mat-checkbox>관리자</mat-checkbox>
                  </td>
      </tr>
      <tr>
        <th scope="row">댓글쓰기</th>
      
            <td>
                <mat-checkbox>비회원</mat-checkbox>
                </td>
             
              <td>
                  <mat-checkbox>입주민</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox>직원</mat-checkbox>
                 
                </td>
              <td>
                <mat-checkbox>관리자</mat-checkbox>
                  </td>
      </tr>
      <tr>
        <th scope="row">강제 삭제</th>
        
            <td>
                <mat-checkbox>비회원</mat-checkbox>
                </td>
             
              <td>
                  <mat-checkbox>입주민</mat-checkbox>
                </td>
                <td>
                    <mat-checkbox>직원</mat-checkbox>
                   
                  </td>
              <td>
                <mat-checkbox>관리자</mat-checkbox>
                  </td>
      <tr>
          <th scope="row">작성글 숨기기</th>
   
              <td>
                  <mat-checkbox>비회원</mat-checkbox>
                  </td>
            
                <td>
                    <mat-checkbox>입주민</mat-checkbox>
                  </td>
                  <td>
                      <mat-checkbox>직원</mat-checkbox>
                     
                    </td>
                <td>
                  <mat-checkbox>관리자</mat-checkbox>
                    </td>
        </tr>
      <tr>
        <th scope="row">공지게시판 설정</th>
        
     <td colspan="4">
        <mat-checkbox>
              네, 관리자만 공지글 올리기
              </mat-checkbox>
          <br>            
          <mat-checkbox>
                  아니요, 회원 누구나 공지글 올리기
             </mat-checkbox>
      </td>        
      </tr>
     <td colspan="5" style="text-align: center;">
       <button mat-button>설정적용</button>
       <button mat-button>취소</button>
      </td>
    </tbody>
  </table>
</div>

    
</div>