mat-card {
  border-radius: 0;
  padding: 10px;
  background-color: #eee;
}
mat-card-title {
  font-size: 1.4em;
  color: #444;
  vertical-align: middle;
  display: inline-flex;
}

table {
  width: 100%;
  font-size: 0.78rem;
}

.row {
  background-color: #eee;
}
