<div class="container">
  <div class="border-bottom">
    <h4>공지사항</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">메뉴관리</li>
      <li class="breadcrumb-item active" aria-current="page">공지사항</li>
    </ol>
  </nav>
  <div class=btn-container>
  <button type="button" class="btn btn-orange" style="margin-right:10px;" >공지사항</button>
  <a routerLink='/menu/danji'><button type="button" class="btn btn-secondary" style="margin-right:10px;"  >단지안내</button></a>
  <a routerLink='/menu/community'><button type="button" class="btn btn-secondary" style="margin-right:10px;" >커뮤니티</button></a>
  <a routerLink='/menu/culturecourse'><button type="button" class="btn btn-secondary"  >문화강좌</button></a>
  </div>
    <div class="row">
      <div class="col-sm rounded mx-auto">
        
          <h3 class="border-bottom ">공지사항</h3>
        
        <table class="table">
          
            
              
           
          
          <tbody>
            <tr>
              <th scope="row">목록보기</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline1">
                      <label class="custom-control-label" for="defaultInline1">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline2">
                  <label class="custom-control-label" for="defaultInline2">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline3">
                  <label class="custom-control-label" for="defaultInline3">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline4">
                  <label class="custom-control-label" for="defaultInline4">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">읽기권한</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline5">
                      <label class="custom-control-label" for="defaultInline5">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline6">
                  <label class="custom-control-label" for="defaultInline6">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline7">
                  <label class="custom-control-label" for="defaultInline7">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline8">
                  <label class="custom-control-label" for="defaultInline8">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">쓰기권한</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline9">
                      <label class="custom-control-label" for="defaultInline9">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline10">
                  <label class="custom-control-label" for="defaultInline10">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline11">
                  <label class="custom-control-label" for="defaultInline11">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline12">
                  <label class="custom-control-label" for="defaultInline12">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">댓글쓰기</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline13">
                      <label class="custom-control-label" for="defaultInline13">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline14">
                  <label class="custom-control-label" for="defaultInline14">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline15">
                  <label class="custom-control-label" for="defaultInline15">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline16">
                  <label class="custom-control-label" for="defaultInline16">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">강제 삭제</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline17">
                      <label class="custom-control-label" for="defaultInline17">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline18">
                  <label class="custom-control-label" for="defaultInline18">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline19">
                  <label class="custom-control-label" for="defaultInline19">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline20">
                  <label class="custom-control-label" for="defaultInline20">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
                <th scope="row">작성글 숨기기</th>
                <td>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input orange" id="defaultInline21">
                        <label class="custom-control-label" for="defaultInline21">비회원</label>
                      </div>
                  </td>
                <td><div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline22">
                    <label class="custom-control-label" for="defaultInline22">직원</label>
                    </div>
                  </td>
                <td><div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline23">
                    <label class="custom-control-label" for="defaultInline23">입주민</label>
                  </div>
                  </td>
                <td><div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline24">
                    <label class="custom-control-label" for="defaultInline24">관리자
                      </label>
                      </div>
                    </td>
              </tr>
            <tr>
              <th scope="row">공지게시판 설정</th>
              
           <td colspan="4">
              <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline25">
                  <label class="custom-control-label" for="defaultInline25">
                    네, 관리자만 공지글 올리기
                    </label>
                    </div>
                <br>            
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="defaultInline26">
                      <label class="custom-control-label" for="defaultInline26">
                        아니요, 회원 누구나 공지글 올리기
                      </label>
                      </div>
            </td>        
            </tr>
           <td colspan="5" style="text-align: center;">
            <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">설정적용</button></a>
            <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">취소</button></a>
            </td>
          </tbody>
        </table>
      </div>
    
      <div class="col-sm rounded mx-auto">
        
          <h3 class="border-bottom ">토크박스</h3>
        
        <table class="table">
          
            
              
           
          
          <tbody>
            <tr>
              <th scope="row">목록보기</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline27">
                      <label class="custom-control-label" for="defaultInline27">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline28">
                  <label class="custom-control-label" for="defaultInline28">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline29">
                  <label class="custom-control-label" for="defaultInline29">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline30">
                  <label class="custom-control-label" for="defaultInline30">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">읽기권한</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline31">
                      <label class="custom-control-label" for="defaultInline31">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline32">
                  <label class="custom-control-label" for="defaultInline32">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline33">
                  <label class="custom-control-label" for="defaultInline33">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline34">
                  <label class="custom-control-label" for="defaultInline34">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">쓰기권한</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline35">
                      <label class="custom-control-label" for="defaultInline35">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline36">
                  <label class="custom-control-label" for="defaultInline36">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline37">
                  <label class="custom-control-label" for="defaultInline37">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline38">
                  <label class="custom-control-label" for="defaultInline38">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">댓글쓰기</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline39">
                      <label class="custom-control-label" for="defaultInline39">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline40">
                  <label class="custom-control-label" for="defaultInline40">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline41">
                  <label class="custom-control-label" for="defaultInline41">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline42">
                  <label class="custom-control-label" for="defaultInline42">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">강제 삭제</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline43">
                      <label class="custom-control-label" for="defaultInline43">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline44">
                  <label class="custom-control-label" for="defaultInline44">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline45">
                  <label class="custom-control-label" for="defaultInline45">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline46">
                  <label class="custom-control-label" for="defaultInline46">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
                <th scope="row">작성글 숨기기</th>
                <td>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input orange" id="defaultInline47">
                        <label class="custom-control-label" for="defaultInline47">비회원</label>
                      </div>
                  </td>
                <td><div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline48">
                    <label class="custom-control-label" for="defaultInline48">직원</label>
                    </div>
                  </td>
                <td><div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline49">
                    <label class="custom-control-label" for="defaultInline49">입주민</label>
                  </div>
                  </td>
                <td><div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline50">
                    <label class="custom-control-label" for="defaultInline50">관리자
                      </label>
                      </div>
                    </td>
              </tr>
            <tr>
              <th scope="row">토크박스 설정</th>
              
           <td colspan="4">
              <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline51">
                  <label class="custom-control-label" for="defaultInline51">
                    네, 관리자만 공지글 올리기
                    </label>
                    </div>
                <br>            
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="defaultInline52">
                      <label class="custom-control-label" for="defaultInline52">
                        아니요, 회원 누구나 공지글 올리기
                      </label>
                      </div>
            </td>
          </tr>  
            <td colspan="5" style="text-align: center;">
                <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">설정적용</button></a>
                <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">취소</button></a>
                </td>      
           
            
          </tbody>
        </table>
      </div>
      
      <div class="col-sm  rounded mx-auto">
        
          <h3 class="border-bottom ">아나바다</h3>
        
        <table class="table">
          
            
              
           
          
          <tbody>
            <tr>
              <th scope="row">목록보기</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline53">
                      <label class="custom-control-label" for="defaultInline53">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline54">
                  <label class="custom-control-label" for="defaultInline54">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline55">
                  <label class="custom-control-label" for="defaultInline55">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline56">
                  <label class="custom-control-label" for="defaultInline56">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">읽기권한</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline57">
                      <label class="custom-control-label" for="defaultInline57">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline58">
                  <label class="custom-control-label" for="defaultInline58">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline59">
                  <label class="custom-control-label" for="defaultInline59">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline60">
                  <label class="custom-control-label" for="defaultInline60">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">쓰기권한</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline61">
                      <label class="custom-control-label" for="defaultInline61">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline62">
                  <label class="custom-control-label" for="defaultInline62">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline63">
                  <label class="custom-control-label" for="defaultInline63">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline64">
                  <label class="custom-control-label" for="defaultInline64">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">댓글쓰기</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline65">
                      <label class="custom-control-label" for="defaultInline65">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline66">
                  <label class="custom-control-label" for="defaultInline66">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline67">
                  <label class="custom-control-label" for="defaultInline67">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline68">
                  <label class="custom-control-label" for="defaultInline68">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
              <th scope="row">강제 삭제</th>
              <td>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input orange" id="defaultInline69">
                      <label class="custom-control-label" for="defaultInline69">비회원</label>
                    </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline70">
                  <label class="custom-control-label" for="defaultInline70">직원</label>
                  </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline71">
                  <label class="custom-control-label" for="defaultInline71">입주민</label>
                </div>
                </td>
              <td><div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline72">
                  <label class="custom-control-label" for="defaultInline72">관리자
                    </label>
                    </div>
                  </td>
            </tr>
            <tr>
                <th scope="row">작성글 숨기기</th>
                <td>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input orange" id="defaultInline73">
                        <label class="custom-control-label" for="defaultInline73">비회원</label>
                      </div>
                  </td>
                <td><div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline74">
                    <label class="custom-control-label" for="defaultInline74">직원</label>
                    </div>
                  </td>
                <td><div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline75">
                    <label class="custom-control-label" for="defaultInline75">입주민</label>
                  </div>
                  </td>
                <td><div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline76">
                    <label class="custom-control-label" for="defaultInline76">관리자
                      </label>
                      </div>
                    </td>
              </tr>
            <tr>
              <th scope="row">아나바다 설정</th>
              
           <td colspan="4">
              <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="defaultInline77">
                  <label class="custom-control-label" for="defaultInline77">
                    네, 관리자만 공지글 올리기
                    </label>
                    </div>
                <br>            
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="defaultInline78">
                      <label class="custom-control-label" for="defaultInline78">
                        아니요, 회원 누구나 공지글 올리기
                      </label>
                      </div>
            </td>
          </tr> 
            <td colspan="5" style="text-align: center;">
                <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">설정적용</button></a>
                <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">취소</button></a>
                </td>       
            
            
          </tbody>
        </table>
      </div>   
      
    </div>
    
  </div>