<mat-card>
   <mat-card-title >
       <mat-icon matPrefix>keyboard_arrow_right</mat-icon>생활지원
   </mat-card-title>
  
 </mat-card>
 <div class="card" >
    <img src="./assets/images/b.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">주민 자전거대여</h5>
      <p class="card-text">주민들의 건강증진을 위해 자전거를 대여</p>
      <a class="btn btn-primary">제공받기</a>
    </div>
  </div>
  <div class="card" class="s" >
      <img src="./assets/images/h.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">주민 건강검진</h5>
        <p class="card-text">아파트주민들을 대상으로 건강검진을 제공</p>
        <a class="btn btn-primary">제공받기</a>
      </div>
    </div>