mat-card{border-radius:0;
    padding: 10px;
    background-color: #eee;
}
mat-card-title{
    font-size: 0.8em;
color: #444;
vertical-align:middle;
display: inline-flex;

}
.s{margin-bottom: 4rem;}

.card-body{background-color: white;}