<h2 mat-dialog-title>Some Title about user</h2>
<mat-dialog-content class="mat-typography">
    <mat-label>이름: {{data.name}}</mat-label><br>
    <mat-label>연락처: {{data.phone}}</mat-label>
</mat-dialog-content>
<br><br><br>
<mat-dialog-actions align="end">
  <!--[mat-dialog-close]="delete"-->
  <!-- TODO Add a function to these button -->
  <!-- TODO Show/Hide conditions-->
  <button mat-button mat-dialog-close>삭제</button>
  <button mat-button mat-dialog-close>승인</button>
  <button mat-button mat-dialog-close>퇴사</button>
</mat-dialog-actions>
