
<h2 mat-dialog-title>Are you sure you want to {{data.type}} {{ data.name }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-label>이름: {{ data.name }}</mat-label><br />
  <mat-label>부서: {{ data.dept }}</mat-label><br />
  <mat-label>직책: {{ data.pos }}</mat-label><br />
  <mat-label>연락처: {{ data.phone }}</mat-label><br />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [mat-dialog-close]="data.name">확인</button>
  <button mat-button mat-dialog-close>취소</button>
</mat-dialog-actions>
