<h4 class="card-title mt-3 text-center">직접 입주민을 등록하기</h4>
<br /><br />

<form role="form" [formGroup]="newUser" (ngSubmit)="approveNewStaff()" >
  <mat-form-field>
    <!--<mat-icon matPrefix class="fa fa-user  input-group-text"></mat-icon>-->
    <input matInput formControlName="username" placeholder="입주민 이름" type="text" class="form-control "/>
    <mat-error *ngIf="(username.dirty || username.touched) && username.invalid">{{ getUsernameErrorMessage() }}</mat-error> </mat-form-field
  ><br />
  <mat-form-field>
    <!--<mat-icon matPrefix class="fa fa-envelope input-group-text"></mat-icon>-->
    <input matInput formControlName="email" placeholder="입주민 이메일 주소" type="text" class="form-control" />
    <mat-error *ngIf="(email.dirty || email.touched) && email.invalid">{{ getEmailErrorMessage() }}</mat-error> </mat-form-field
  ><br />
  <mat-form-field>
    <!--<mat-icon matPrefix class="fa fa-lock input-group-text"></mat-icon>-->
    <input matInput formControlName="password" placeholder="입주민 비밀번호" type="password" class="form-control" />
    <mat-error *ngIf="(password.dirty || password.touched) && password.invalid">{{ getPasswordErrorMessage() }}</mat-error> </mat-form-field
  ><br />
  <mat-form-field>
    <!--<mat-icon matPrefix class="fa fa-phone input-group-text"></mat-icon>-->
    <input matInput formControlName="phone" placeholder="입주민 휴대폰 번호" type="text" class="form-control" />
    <mat-error *ngIf="(phone.dirty || phone.touched) && phone.invalid">{{ getPhoneErrorMessage() }}</mat-error> </mat-form-field
  ><br />

  <mat-form-field >
    <mat-label>부서 직책</mat-label>
    <mat-select matSelect >
      <mat-optgroup *ngFor="let group of deptroleGroups" [label]="group.name" >
        <mat-option *ngFor="let role of group.role" [value]="role.id" (onSelectionChange)="setDeptRoleData(group.id, role.id)">
          {{ role.viewValue }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <!--
  <mat-form-field>
    <mat-icon matPrefix class="fa fa-phone input-group-text"></mat-icon>
    <input matInput formControlName="dong" placeholder="입주민 동" type="text" class="form-control" />
    <mat-error *ngIf="(dong.dirty || dong.touched) && dong.invalid">{{ getDongErrorMessage() }}</mat-error> </mat-form-field
  ><br />
  <mat-form-field>
    <mat-icon matPrefix class="fa fa-phone input-group-text"></mat-icon>
    <input matInput formControlName="ho" placeholder="입주민 호" type="text" class="form-control" />
    <mat-error *ngIf="(ho.dirty || ho.touched) && ho.invalid">{{ getHoErrorMessage() }}</mat-error> </mat-form-field
  ><br />-->

  <br /><br />

  <mat-dialog-actions align="end">
    <div class="form-group input-group">
      <button mat-dialog-close type="submit" [disabled]="!newUser.valid" class="btn btn-primary btn-block" style="max-width: 60%">
        가입하기
      </button>
      <button mat-button mat-dialog-close class="btn btn-block" style="max-width: 40%">취소</button>
    </div>
  </mat-dialog-actions>

  <!-- <div class="form-group input-group" style="margin-top: -10px;">
    <a [routerLink]="['/login']">{{ '로그인 페이지로' | translate }}</a>
  </div>-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
</form>
