<div class="container">
  <div class="border-bottom">
    <h4>직원관리</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">직원관리</li>
    </ol>
  </nav>
  <div class="btn-container">
    <a routerLink="#"><button type="button" class="btn btn-orange" style=" margin-right:10px;">초대하기</button></a>
    <button type="button" class="btn btn-secondary manager">매니저초대</button>
  </div>

  <!-- Filter Search Bar -->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="검색하기" />
  </mat-form-field>

  <br>
  <mat-label> 승인대기 직원  </mat-label>
  <button mat-button (click)="personallyApproveAStaff()">직원 직접 승인 해주기</button>
  <div class="mat-elevation-z8">
    <!-- WAIT LIST TABLE -->
    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>성명</th>
        <td mat-cell *matCellDef="let person">{{ person.name }}</td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>부서</th>
        <td mat-cell *matCellDef="let person">{{ person.department }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>직책</th>
        <td mat-cell *matCellDef="let person">{{ person.position }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>연락처</th>
        <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
      </ng-container>

      <!-- Attached File Column -->
      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef>첨부 파일</th>
        <td mat-cell *matCellDef="let person">
          <button mat-raised-button (click)="showFile(person)">File</button>
        </td>
      </ng-container>
      <!-- Approve Btn Column -->
      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef>승인</th>
        <td mat-cell *matCellDef="let person">
          <button mat-raised-button (click)="openDialog(person, 'APPROVE', 3)">승인</button>
        </td>
      </ng-container>
      <!-- Delete Btn Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>삭제</th>
        <td mat-cell *matCellDef="let person">
          <mat-icon style="cursor:pointer" (click)="openDialog(person, 'DELETE', 1)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>

<!--
      <br /><br />
      <mat-label> 초대된 직워ㅕㄴ </mat-label>
      <div class="mat-elevation-z8">
        <br />
        
        Invited List Table
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>성명</th>
            <td mat-cell *matCellDef="let person">{{ person.name }}</td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef>부서</th>
            <td mat-cell *matCellDef="let person">{{ person.department }}</td>
          </ng-container>
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>직책</th>
            <td mat-cell *matCellDef="let person">{{ person.role }}</td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>연락처</th>
            <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
          </ng-container>
          
          Add 'Cancel Invite' Button
          Add 'Resend Invite' Button

          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
-->


  
  <br><br>
  <mat-label> 승인된 직원  </mat-label>
  <div class="mat-elevation-z8">
    <br />
    <!-- APPROVED LIST TABLE -->
    <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>성명</th>
        <td mat-cell *matCellDef="let person">{{ person.name }}</td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>부서</th>
        <td mat-cell *matCellDef="let person">{{ person.department }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>직책</th>
        <td mat-cell *matCellDef="let person">{{ person.position }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>연락처</th>
        <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
      </ng-container>

      <!-- ApprovedBy Column -->
      <ng-container matColumnDef="approvedBy">
        <th mat-header-cell *matHeaderCellDef>승인자</th>
        <td mat-cell *matCellDef="let person">{{ person.approvedBy }}</td>
      </ng-container>

      <!-- ApprovedDate Column -->
      <ng-container matColumnDef="approvedDate">
        <th mat-header-cell *matHeaderCellDef>승인일자</th>
        <td mat-cell *matCellDef="let person">{{ person.approvedDate | date: 'yyyy-mm-dd'}}</td>
      </ng-container>

      <!-- Attached File Column -->
      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef>첨부 파일</th>
        <td mat-cell *matCellDef="let person">
          <button mat-raised-button (click)="showFile(person)">File</button>
        </td>
      </ng-container>

      <!-- Out Btn Column -->
      <ng-container matColumnDef="out">
        <th mat-header-cell *matHeaderCellDef>퇴사</th>
        <td mat-cell *matCellDef="let person">
          <button mat-raised-button (click)="openDialog(person, 'MOVE OUT', 5)">퇴사</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>

  
  <br><br>
  <mat-label> 퇴사된 직원  </mat-label>
  <div class="mat-elevation-z8">
    <br />
    <!-- EVICTED LIST TABLE -->
    <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>성명</th>
        <td mat-cell *matCellDef="let person">{{ person.name }}</td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>부서</th>
        <td mat-cell *matCellDef="let person">{{ person.department }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>직책</th>
        <td mat-cell *matCellDef="let person">{{ person.position }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>연락처</th>
        <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
      </ng-container>

      <!-- EvictedDate Column -->
      <ng-container matColumnDef="evictedDate">
        <th mat-header-cell *matHeaderCellDef>퇴사일자</th>
        <td mat-cell *matCellDef="let person">{{ person.evictedDate | date: 'yyyy-MM-dd' }}</td>
      </ng-container>

      <!-- Reason Column -->
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef>퇴사사유</th>
        <td mat-cell *matCellDef="let person">{{ person.reason }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns4"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</div>
