<div class="container">
  <div class="border-bottom">
    <h4>직원관리</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">직원관리</li>
    </ol>
  </nav>
  <div class="btn-container">
    <a routerLink="#"><button type="button" class="btn btn-orange" style=" margin-right:10px;">초대하기</button></a>
    <button type="button" class="btn btn-secondary manager">매니저초대</button>
  </div>

  <!-- Filter Search Bar -->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="검색하기" />
  </mat-form-field>

  <!-- WAIT LIST TABLE -->
  <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>성명</th>
      <td mat-cell *matCellDef="let person">{{ person.name }}</td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>부서</th>
      <td mat-cell *matCellDef="let person">{{ person.department }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>직책</th>
      <td mat-cell *matCellDef="let person">{{ person.position }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>연락처</th>
      <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
    </ng-container>

    <!-- Attached File Column -->
    <ng-container matColumnDef="file">
      <th mat-header-cell *matHeaderCellDef>첨부 파일</th>
      <td mat-cell *matCellDef="let person">
        <button mat-raised-button (click)="showFile(person)">???</button>
      </td>
    </ng-container>
    <!-- Approve Btn Column -->
    <ng-container matColumnDef="approve">
      <th mat-header-cell *matHeaderCellDef>승인</th>
      <td mat-cell *matCellDef="let person">
        <button mat-raised-button (click)="openDialog(person, 'APPROVE', 3)">승인</button>
      </td>
    </ng-container>
    <!-- Delete Btn Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>삭제</th>
      <td mat-cell *matCellDef="let person">
        <button mat-raised-button (click)="openDialog(person, 'DELETE', 1)">삭제</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <!--(click)="openDialogWait(row)"-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns1" ></tr>
  </table>

  <br />
  <!-- APPROVED LIST TABLE -->
  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>성명</th>
      <td mat-cell *matCellDef="let person">{{ person.name }}</td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>부서</th>
      <td mat-cell *matCellDef="let person">{{ person.department }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>직책</th>
      <td mat-cell *matCellDef="let person">{{ person.position }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>연락처</th>
      <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
    </ng-container>

    <!-- ApprovedBy Column -->
    <ng-container matColumnDef="approvedBy">
      <th mat-header-cell *matHeaderCellDef>승인자</th>
      <td mat-cell *matCellDef="let person">{{ person.approvedBy }}</td>
    </ng-container>

    <!-- ApprovedDate Column -->
    <ng-container matColumnDef="approvedDate">
      <th mat-header-cell *matHeaderCellDef>승인일자</th>
      <td mat-cell *matCellDef="let person">{{ person.approvedDate }}</td>
    </ng-container>

    <!-- Attached File Column -->
    <ng-container matColumnDef="file">
      <th mat-header-cell *matHeaderCellDef>첨부 파일</th>
      <td mat-cell *matCellDef="let person">
        <button mat-raised-button (click)="showFile(person)">???</button>
      </td>
    </ng-container>

    <!-- Out Btn Column -->
    <ng-container matColumnDef="out">
      <th mat-header-cell *matHeaderCellDef>퇴사</th>
      <td mat-cell *matCellDef="let person">
        <button mat-raised-button (click)="openDialog(person, 'MOVE OUT', 4)">퇴사</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <!--(click)="openDialogApproved(row)"-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns2" ></tr>
  </table>

  <br />
  <!-- EVICTED LIST TABLE -->
  <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>성명</th>
      <td mat-cell *matCellDef="let person">{{ person.name }}</td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>부서</th>
      <td mat-cell *matCellDef="let person">{{ person.department }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>직책</th>
      <td mat-cell *matCellDef="let person">{{ person.position }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>연락처</th>
      <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
    </ng-container>

    <!-- EvictedDate Column -->
    <ng-container matColumnDef="evictedDate">
      <th mat-header-cell *matHeaderCellDef>퇴사일자</th>
      <td mat-cell *matCellDef="let person">{{ person.evictedDate }}</td>
    </ng-container>

    <!-- Reason Column -->
    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef>퇴사사유</th>
      <td mat-cell *matCellDef="let person">{{ person.reason }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <!--(click)="openDialogOut(row)"-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns3" ></tr>
  </table>
</div>
