.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: url(/assets/images/mypage/bg2.jpg) no-repeat scroll center center / cover;
  text-align: center;
  padding: 3em;

}




h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
h3 {
  font-size: 0.8em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

a:active{color:orange;}

nav a.active {
  color:  orange;
}
.mat-button-toggle-group-appearance-standard, .mat-button-toggle-standalone.mat-button-toggle-appearance-standard{
  
  :hover,:link,:active, :visited, :focus, :checked {
    background-color: orange !important;
  color: #fff;

}

}

.material-icons{font-size: 40px;}

.container{width: 600px; height: auto; margin: 40px auto;}
.next{
  width:400px;
  background: #eee;}





mat-card{
  top: 2px;}

.juso-serch{
  width: 100%;
 
  
  
   font-size: 20px;
   
  
   
    
}
.room{margin-top: 10px;}





