<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <p>This is where juso search will happen</p>
<br /><br />
<h2>Type dorojuso below</h2>
<input [(ngModel)]="jusoKeyword" placeholder="텍스트적는곳" type="text" class="form-control " />

<a type="button" (click)="searchJusos()">주소검색</a>

<h2>List of jusos</h2>
<ul>
  <li *ngFor="let juso of lessDetailJusos">
    <label (click)="jusoClicked(juso)">{{ juso.jibunAddr }}</label>
  </li>
</ul>

</mat-dialog-content>
<h2>Selected Juso</h2>
<ul>
  <li *ngFor="let juso of selectedJuso">
    <label>{{ juso.jibunAddr }}</label>
  </li>
</ul>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!--Get Juso Id for [mat-dialog-close]-->
  <button mat-button [mat-dialog-close]=[{{juso.id}}] cdkFocusInitial>select</button>
</mat-dialog-actions>
