.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: url(/assets/images/mypage/bg2.jpg) no-repeat scroll center center / cover;
  text-align: center;
  padding: 3em;

}




h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
h3 {
  font-size: 0.8em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {

}
nav a:hover {
}
nav a.active {
  color:  #f37a20;
}
mat-button-toggle-group {
  
  :hover,:link,:active{
    background-color: #f37a20;
  color: #fff;
fill:#fff;
border:1fx solid  #f37a20;}

}
mat-card{margin-bottom: 10px;
}

.container{width: 500px; height: auto; margin: 40px auto;}
.next{
  width:400px;
  background: #eee;}


.icon{width: 40px;}



.juso-serch{
  width: 140px;
   height: 50px;
   background: #eee;
   line-height: -10px;
   
}

.mat-step-icon-selected
{background-color:  #f37a20; }
