.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: url(/assets/images/mypage/bg2.jpg) no-repeat scroll center center / cover;
  text-align: center;
  padding: 3em;

}



h4{
  font-size: 0.7em;
color: gray;
}

h5{ font-size:0.9em;}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

a:active{color:orange;}

nav a.active {
  color:  orange;
}
.mat-button-toggle-group-appearance-standard, .mat-button-toggle-standalone.mat-button-toggle-appearance-standard{
  
  :hover,:link,:active, :visited, :focus, :checked {
    background-color: orange !important;
  color: #fff;

}

}




label{
  
  margin-right: 10px;

    mat-panel-title{
  vertical-align: top; display: inline-flex;}
          mat-icon{font-size: 18px;}
    }
.material-icons{font-size: 40px;}






.container{width: 600px; height: auto; margin: 40px auto;}
.next{
  width:400px;
 }




mat-card{
  top: 2px;
  vertical-align: middle;
  .material-icons{
    font-size: 20px;
    
  }
  a{margin-bottom:-10px;}
}

.juso-serch,.approve{

 
  width:200px;
 height: 38px;
  
  
   font-size: 1em;
   
   .material-icons{
     font-size: 1.5em;
   }
 

    }
    




.mat-step-header .mat-step-icon 
{
  background-color:#eee;
}


.room{margin-top: 10px;}





mat-panel-title{
  mat-icon{
   font-size: 20px;}
  }



  li{list-style:none;
  }
 
 
  ul{ padding-inline-start:0px;}



  input[type="file"]{
  color:gray;}