
<mat-dialog-content class="mat-typography">

  <mat-form-field>
    <input matInput [(ngModel)]="jusoKeyword" placeholder="ex)동이름,아파트이름, 초성 등" />
  </mat-form-field>

  <button mat-button>
    
    <a (click)="searchJusos()">주소검색</a>
  </button>
  <br /><br />
  <ul>
    <li *ngFor="let juso of lessDetailJusos">
      <label (click)="jusoClicked(juso)">{{ juso.jibunAddr }}</label>
    </li>
  </ul>
</mat-dialog-content>
<br /><br />
<label matLabel *ngIf="selectedJuso.jibunAddr != '' " >선택된 주소</label><br>
<label>{{ selectedJuso.jibunAddr }}</label>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>취소</button>
  <button mat-button [mat-dialog-close]="selectedJusoStringed" cdkFocusInitial>선택</button>
</mat-dialog-actions>


<style>
ul{text-decoration: none;}

</style>