<div class="login-page">
  <div class="container">
    <mat-card><i class="material-icons">
        album
        </i> <a>역할등록</a></mat-card>
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>무엇으로 가입하고 싶으세요?</ng-template>

          <!-- Roles are predetermined -->
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (click)="roleClicked(3)" class="btn1">
                <i class="material-icons">
                    face
                    </i>
              <br />커뮤니티 입주인</mat-button-toggle >
            <mat-button-toggle (click)="roleClicked(2)">
                <i class="material-icons">
                    supervisor_account
                    </i>
              <br />커뮤니티 직원</mat-button-toggle>
            <mat-button-toggle (click)="roleClicked(1)">
              <i class="material-icons">
                  grade
                  </i>
              <br />커뮤니티 대표</mat-button-toggle>
          </mat-button-toggle-group>

          <div>
            <button mat-button matStepperNext class="next border-top-0">다음</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>주소를 검색하세요. </ng-template>

          <!-- TODO This button only shows up when a person has clicked a role -->
          
          <a type="button" class="juso-serch" (click)="openJusoDialog()"><i class="material-icons">
              room
              </i>주소검색</a>
          <br />

          <label *ngIf="parsedJuso != ''">검색된 주소</label><br />
          <label>{{ parsedJuso.jibunAddr }}</label>
          <br />
       
          <div>
            <button mat-button matStepperPrevious>뒤로</button>
            <button mat-button matStepperNext>다음</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>상세주소를 입력하세요.</ng-template>

          <!-- Predetermined Numbers -->
          <mat-form-field *ngIf="getLS('role') == '3'">
            <input matInput formControlName="thirdCtrl1" [(ngModel)]="aptDetailsDong" placeholder="상세주소입력" />
          </mat-form-field>
          <label *ngIf="getLS('role') == '3'">동</label>
          <br *ngIf="getLS('role') == '3' " />
          <mat-form-field *ngIf="getLS('role') == '3'">
            <input matInput formControlName="thirdCtrl2" [(ngModel)]="aptDetailsHo" placeholder="상세주소입력" />
          </mat-form-field>
          <label *ngIf="getLS('role') == '3'">호</label>

          <!-- Predetermined Numbers -->
          <mat-form-field *ngIf="getLS('role') == '2'">
            <mat-label>부서 직책</mat-label>
            <mat-select matSelect *ngIf="getLS('role') == '2'" formControlName="deptControl">
              <mat-optgroup *ngFor="let group of deptGroups" [label]="group.name">
                <mat-option *ngFor="let pos of group.pos" [value]="pos.value">
                  {{ pos.viewValue }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>

          <!-- Predetermined Numbers -->
          <label *ngIf="getLS('role') == '1'">Phone</label>
          <mat-form-field *ngIf="getLS('role') == '1'">
            <input matInput formControlName="thirdCtrl1" [(ngModel)]="aptPhone" placeholder="032XXXXXXX" />
          </mat-form-field>
          <br *ngIf="getLS('role') == '1'" />
          <label *ngIf="getLS('role') == '1'">Description</label>
          <mat-form-field *ngIf="getLS('role') == '1'">
            <input matInput formControlName="thirdCtrl2" [(ngModel)]="aptDescription" placeholder="Some sort of description about apt" />
          </mat-form-field>

          <br /><br /><br />

          <input type="file" (change)="uploadFile($event)" placeholder="Upload file" accept=".pdf,.doc,.docx,.jpg,.png" />

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        
        <a (click)="applyClicked()" routerLink="/signup/applied">
          승인요청
        </a>
        <div>
          <button mat-button matStepperPrevious>이전단계로</button>
          <button mat-button (click)="stepper.reset()">초기화</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>

    <br /><br /><br />
    <br /><br /><br />
  </div>
</div>
