<div class="container">
  <div class="border-bottom">
    <h4>출석관리</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">출석관리</li>
    </ol>
  </nav>
  <div class="btn-container">
    <!-- Filter Search Bar -->
    <!---------------------
        <mat-form-field style="margin-right:10px;" appearance="outline">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="검색하기" />
    
        </mat-form-field>
    -->
    <a routerLink="#"><button type="button" class="btn btn-secondary" style="margin-right:10px;">사진등록</button></a>
    <button type="button" class="btn btn-secondary manager" style=" margin-right:10px;">매니저초대</button>
    <button type="button" class="btn btn-secondary read">직원초대</button>
  </div>

  <div class="mat-elevation-z8">
    <mat-card style="height:100px;">
      <a>4월</a>
      <mat-form-field style="float:right; margin-right: 20px;">
        <mat-label>회원분석</mat-label>
        <mat-select>
          <mat-option *ngFor="let attendence of attendences" [value]="attendence.value">
            {{ attendence.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>





    <div class="row">

      <mat-card style="width:20%; ">실시간 출석</mat-card>
      <mat-card style="width:40%; ">강좌별 출석</mat-card>
      <mat-card style="width:10%; ">센터내 직원</mat-card>
      <mat-card style="width:10%;">센터내 회원</mat-card>
      <mat-card style="width:10%; ">게스트</mat-card>
      <mat-card style="width:10%;">금일 누적</mat-card>

      <mat-card style="width:20%;">2019년 n월 n일 nn:nn</mat-card>
      <mat-card style="width:13%; ">
        <mat-form-field>
        <mat-label>수업분석</mat-label>
        <mat-select>
          <mat-option *ngFor="let class of classes" [value]="class.value" (click)="filterAndReloadTable(selectedA , class.value)" >
            {{ class.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field></mat-card>
      <mat-card style="width:14%; "> <input type="date" /></mat-card>
      <mat-card style="width:13%;"><button mat-strok-button><mat-icon>notifications_active</mat-icon>입장회원</button></mat-card>
      <mat-card style="width:10%;">n</mat-card>
      <mat-card style="width:10%; ">n</mat-card>
      <mat-card style="width:10%; ">n</mat-card>
      <mat-card style="width:10%;">n</mat-card>
    </div>




    <div *ngFor="let row of rows">
      <div *ngFor="let col of cols" fxLayout="row" fxLayoutAlign="space-between" fxFlex="20">
        <mat-card style="width: 400px;  " [ngClass]='attendenceList[col+row].status'>
          <mat-card-header>
            <mat-card-title>{{attendenceList[col+row].name}}</mat-card-title>
            <mat-card-subtitle>{{attendenceList[col+row].at}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-sm-image src="{{attendenceList[col+row].img}}" style="margin-left: 15px" />
          <mat-card-content style="margin-left: 15px">
            <p>THIS IS INFO</p>
          </mat-card-content>

          <mat-card-actions> </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>