table {
  width: 100%;
  margin-bottom: -1px;
}
.btn-container {
  margin-bottom: -20px;
}
.mat-elevation-z8 {
  margin-top: 30px;
  border: 0;
}

mat-card {
  border-radius: 0;
  text-align: center;
}

mat-card a {
  font-size: 1.5em;
  color: #444;
  margin-top: 20px;
}

.color1 {
  background: #ef9a9a;
}

.color2 {
  background: #90caf9;
}

.color3 {
  background: #ffcf44;
}

.color4 {
  background: #b0bec5;
}

.color5 {
  background: #c8e6c9;
}

.color6 {
  background: #b39ddb;
}
