<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="80px" />
      <h5>더 좋은 운동으로 가는 길</h5>
      <h1>Crowd Fit</h1>
      <form role="form">
        <div class="form-content">
          <!-- Email -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input
              type="text"
              name="이메일"
              [(ngModel)]="existingUser.email"
              class="form-control"
              id="email"
              placeholder="이메일"
            />
          </div>
          <!-- Password -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input
              type="password"
              name="비밀번호"
              [(ngModel)]="existingUser.password"
              class="form-control"
              id="password"
              placeholder="비밀번호"
            />
          </div>

          <a [routerLink]="['/menu']" class="btn btn-primary" (click)="loginUser()">{{ '로그인' | translate }}</a>
          &nbsp;
          <div class="form-group input-group" style="margin-top: -10px;">
            <a [routerLink]="['/signup']">{{ '회원가입' | translate }}</a>
            <a>|</a>
            <a [routerLink]="['/*']">{{ '비밀번호 찾기' | translate }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
