/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

nav .breadcrumb {background-color: #e2e2e1;
}


body,.breadcrumb {background-color: #e2e2e1;
}
h4{
font-size: 1.2em;
color:#bbb;    
}
.border-bottom{
    margin-top: 20px;
    border-bottom: 1px solid #bbb;}


    h3.border-bottom{
        border-bottom: 1px solid orange;}
.container{
    max-width: 100%;
    margin: 0;
    left: 0;
}
.col-sm {background-color: #fff; border: 1px solid #ccc; margin:0 10px; }


h3{
    font-size: 1.2em;
    width: 200px;
    text-align: center;
    margin: 60px auto; }

