<mat-card>
  <mat-card-title>
    <mat-icon matPrefix>keyboard_arrow_right</mat-icon>FIT-music
  </mat-card-title>

</mat-card>
<mat-card class="audio">
  <div class="row">
  <div class=box>
  <img src="/assets/images/music/breakfree.jpg" width="70vh" heigth="70vh">

  </div>
  <div>
  <h5>Ariana Grande - Break Free</h5> 
  <audio controls="controls">
    <source src="/assets/musics/0. Break Free.mp3" type="audio/mp3" />
    Your browser does not support the audio element.
  </audio>
  </div>
  </div>
</mat-card>
<mat-card class="audio">
    <div class="row">
    <div class=box>
    <img src="/assets/images/music/cider.jpg" width="70vh" heigth="70vh">
  
    </div>
    <div>
    <h5>노라조 - 사이다 </h5> 
    <audio controls="controls">
      <source src="/assets/musics/1. 사이다.mp3" type="audio/mp3" />
      Your browser does not support the audio element.
    </audio>
    </div>
    </div>
  </mat-card>

  <mat-card class="audio">
      <div class="row">
      <div class=box>
      <img src="/assets/images/music/sat.jpg" width="70vh" heigth="70vh">
    
      </div>
      <div>
      <h5>크레용팝 - Saturday Night</h5> 
      <audio controls="controls">
        <source src="/assets/musics/2. Saturday Night.mp3" type="audio/mp3" />
        Your browser does not support the audio element.
      </audio>
      </div>
      </div>
    </mat-card>

    <mat-card class="audio">
        <div class="row">
        <div class=box>
        <img src="/assets/images/music/elegant.jpg" width="70vh" heigth="70vh">
      
        </div>
        <div>
        <h5>트와이스 - OOH-AHH하게</h5> 
        <audio controls="controls">
          <source src="/assets/musics/3. OOH-AHH하게.mp3" type="audio/mp3" />
          Your browser does not support the audio element.
        </audio>
        </div>
        </div>
      </mat-card>

      <mat-card class="audio">
          <div class="row">
          <div class=box>
          <img src="/assets/images/music/idiet.jpg" width="70vh" heigth="70vh">
        
          </div>
          <div>
          <h5>화사 - 멍청이</h5> 
          <audio controls="controls">
            <source src="/assets/musics/4. 멍청이.mp3"  type="audio/mp3" />
            Your browser does not support the audio element.
          </audio>
          </div>
          </div>
        </mat-card>

        <mat-card class="audio">
            <div class="row">
            <div class=box>
            <img src="/assets/images/music/tonight.jpg" width="70vh" heigth="70vh">
          
            </div>
            <div>
            <h5>홍진영 - 오늘밤에</h5> 
            <audio controls="controls">
              <source src="/assets/musics/5. 오늘 밤에.mp3" type="audio/mp3" />
              Your browser does not support the audio element.
            </audio>
            </div>
            </div>
          </mat-card>

          <mat-card class="audio">
              <div class="row">
              <div class=box>
              <img src="/assets/images/music/amor.jpg" width="70vh" heigth="70vh">
            
              </div>
              <div>
              <h5>김연자 - 아모르 파티</h5> 
              <audio controls="controls">
                <source src="/assets/musics/6. 아모르 파티.mp3" type="audio/mp3" />
                Your browser does not support the audio element.
              </audio>
              </div>
              </div>
            </mat-card>
            <mat-card class="audio">
                <div class="row">
                <div class=box>
                <img src="/assets/images/music/ing.jpg" width="70vh" heigth="70vh">
              
                </div>
                <div>
                <h5>식스밤 - 예뻐지는 중입니다</h5> 
                <audio controls="controls">
                  <source src="/assets/musics/7. 예뻐지는 중입니다.mp3" type="audio/mp3" />
                  Your browser does not support the audio element.
                </audio>
                </div>
                </div>
              </mat-card>
              <mat-card class="audio">
                  <div class="row">
                  <div class=box>
                  <img src="/assets/images/music/ddrrrr.jpg" width="70vh" heigth="70vh">
                
                  </div>
                  <div>
                  <h5>김영철 - 따르릉</h5> 
                  <audio controls="controls">
                    <source src="/assets/musics/8. 따르릉.mp3" type="audio/mp3" />
                    Your browser does not support the audio element.
                  </audio>
                  </div>
                  </div>
                </mat-card>
                <mat-card class="audio last">
                    <div class="row">
                    <div class=box>
                    <img src="/assets/images/music/napal.jpg" width="70vh" heigth="70vh">
                  
                    </div>
                    <div>
                    <h5>싸이 - 나팔바지</h5> 
                    <audio controls="controls">
                      <source src="/assets/musics/9. 나팔바지.mp3"  type="audio/mp3" />
                      Your browser does not support the audio element.
                    </audio>
                    </div>
                    </div>
                  </mat-card>
            
