<div class="container">
  <div class="border-bottom">
    <h4>관리비알림</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">회계관리</li>
      <li class="breadcrumb-item active" aria-current="page">관리비알림</li>
    </ol>
  </nav>
  <div class=btn-container>
  <a routerLink=#><button type="button" class="btn btn-secondary" style="margin-right:10px; ">급여관리</button></a>
  <a routerLink=#><button type="button" class="btn btn-secondary" style=" margin-right:10px;">매출관리</button></a>
 <button type="button" class="btn btn-orange" >관리비알림</button>
 <a routerLink=#></a> <button type="button" class="btn btn-secondary manager">매니저초대</button>
</div> 

</div>