<div class="container">
  <div class="border-bottom">
    <h4>관리비알림</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">회계관리</li>
      <li class="breadcrumb-item active" aria-current="page">관리비알림</li>
    </ol>
  </nav>
  <div class="btn-container">
    <button type="button" class="btn btn-secondary" style="margin-right:10px; ">급여관리</button>
    <button type="button" class="btn btn-secondary" style=" margin-right:10px;">매출관리</button>
    <button type="button" class="btn btn-orange">관리비알림</button>
    <button type="button" class="btn btn-secondary manager">매니저초대</button>
  </div>

  <div class="row">
    <div class="col-sm rounded mx-auto">
      <div class="btn-group">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          All
        </button>
        <div class="part"></div>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td colspan="2" style="text-align: center;">
              <button type="button" class="btn btn-secondary" style="width: 90px; margin: 40px 5px;">추가작성</button>
              <button type="button" class="btn btn-secondary" style="width: 90px; margin: 40px 5px;">결산방식</button>
            </td>
            <td colspan="12"></td>
          </tr>
          <tr>
            <td colspan="14" class="print"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
