<mat-card>
  <mat-card-title >
      <mat-icon matPrefix>keyboard_arrow_right</mat-icon>문화강좌</mat-card-title>
 
</mat-card>
<div class="card" >
    <img src="./assets/images/s.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">스피닝 강좌</h5>
      <p class="card-text">자전거타기를 이용한 유산소 운동. 헬스장에서 볼 수 있는 스핀 바이크를 사용한다.</p>
      <a class="btn btn-primary">등록하기</a>
    </div>
  </div>
  <div class="card" class="s" >
      <img src="./assets/images/s2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">스트레칭</h5>
        <p class="card-text">스트레칭은 신체 부위의 근육이나, 건, 인대 등을 늘여주는(신전시키는) 운동이다. 스트레칭을 하면 관절의 가동범위 증가, 유연성 유지 및 향상, 혈액 순환 촉진, 상해 예방 등의 도움이 된다.</p>
        <a class="btn btn-primary">등록하기</a>
      </div>
    </div>