<div class="container">
  <div class="border-bottom">
    <h4>메뉴관리</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">메뉴관리</li>
      <li class="breadcrumb-item active" aria-current="page">단지관리안내</li>
    </ol>
  </nav>
  <a href=#><button type="button" class="btn btn-secondary" style="width: 122px; margin-right:10px; ">공지사항관리</button></a>
  <button type="button" class="btn btn-secondary" style="width: 122px; margin-right:10px; color:#fff; background-color:#f37a20;">단지안내관리</button>
  <a href=#><button type="button" class="btn btn-secondary" style="width: 122px; margin-right:10px;">커뮤니티</button></a>
  <a href=#><button type="button" class="btn btn-secondary" style="width: 122px;">문화강좌</button></a>
  </div>