<div class="container">
  <div class="border-bottom">
    <h4>단지안내</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">메뉴관리</li>
      <li class="breadcrumb-item active" aria-current="page">단지안내</li>
    </ol>
  </nav>
  <div class=btn-container>
  <a routerLink='/menu/bulletinboard'><button type="button" class="btn btn-secondary" style="margin-right:10px; ">공지사항</button></a>
  <button type="button" class="btn btn-orange" style=" margin-right:10px; ">단지안내</button>
  <a routerLink='/menu/community'><button type="button" class="btn btn-secondary" style=" margin-right:10px;">커뮤니티</button></a>
  <a routerLink='/menu/culturecourse'><button type="button" class="btn btn-secondary">문화강좌</button></a>
</div> 
</div>