<mat-card>
  <mat-card-title >
      <mat-icon matPrefix>keyboard_arrow_right</mat-icon>FIT-video</mat-card-title>
 
</mat-card>



<!-- 21:9 aspect ratio -->
<iframe src="https://youtu.be/Kj0fqSy1FR8" width="100%" height="250px;" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h4>Spinning - Diretor  Liz</h4>


  <iframe src="https://youtu.be/_GEBj_ixveY" width="100%" height="250px;"  allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h4>Spinning - Diretor  Jessi</h4>
  
<iframe src="https://www.youtube.com/embed/6ILXtOyE8No"  width="100%" height="250px;"allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4>Spinning Guide</h4>
    
  

    <iframe src="https://www.youtube.com/embed/6ILXtOyE8No" width="100%"height="250px;"  allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4 class="margin">Crowd-Fit Logo</h4>
      
    