<div class="container">
  <div class="border-bottom">
    <h5>상품조회/수정</h5>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">스토어관리</li>
      <li class="breadcrumb-item active" aria-current="page">상품관리</li>
      <li class="breadcrumb-item active" aria-current="page">상품조회/수정</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <h3 class="border-bottom ">상품조회/수정</h3>

    </div>
  </div>

  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            
입금대기
          </tr>
          <tr>
          신규주문
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
           
           승인대기

<tr>
  
    승인완료
  

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>


          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>



          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm rounded mx-auto;">

      <table class="table ">
        <tbody>
          <tr>


              <th scope="row">카테고리</th>
              <td class="borderless">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input orange" id="defaultInline1">
                  <label class="custom-control-label" for="defaultInline1">전체</label>
                </div>
              </td>
              <td>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input orange" id="defaultInline2">
                  <label class="custom-control-label" for="defaultInline2">판매대기</label>
                </div>
              </td>
            
</tr>
<tr>

    <th scope="row">채널</th>
    <td>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input orange" id="defaultInline1">
        <label class="custom-control-label" for="defaultInline1">전체</label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input orange" id="defaultInline2">
        <label class="custom-control-label" for="defaultInline2">제휴단지</label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input orange" id="defaultInline1">
        <label class="custom-control-label" for="defaultInline1">아파트 스토어</label>
      </div>
     
        </td>        
    
  </tr>
  <tr>
  <th scope="row">결제여부</th>
  <td>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" class="custom-control-input orange" id="defaultInline1">
      <label class="custom-control-label" for="defaultInline1">전체</label>
    </div>
  </td>
  <td>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" class="custom-control-input orange" id="defaultInline2">
      <label class="custom-control-label" for="defaultInline2">결제가능상품</label>
    </div>
  </td>
  <td>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" class="custom-control-input orange" id="defaultInline1">
      <label class="custom-control-label" for="defaultInline1">결제불가능 상품</label>
    </div>
   
      </td>        
      <td>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input orange" id="defaultInline1">
            <label class="custom-control-label" for="defaultInline1">할인</label>
          </div>
         
            </td>   
</tr>

<tr>
    <th scope="row">기간</th>
    
    <td>
      상품등록일 오늘 1주일 1개월 3개월 6개월 1년 
     
    </td>
       
  </tr>
  <tr>
      <th scope="row">가격</th>
      
      <td>
   
       
      </td>
         
    </tr>
<tr>
    <td colspan="5" style="text-align: center;">
        <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">등록설정</button></a>
        <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;"></button></a>
        </td>
</tr>
        </tbody>
      </table>
    </div>
  </div>
  <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">저장하기</button></a>
  <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">취소</button></a>
</div>