<div class="container">
  <div class="border-bottom">
    <h4>커뮤니티</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">메뉴관리</li>
      <li class="breadcrumb-item active" aria-current="page">커뮤니티</li>
    </ol>
  </nav>
  <div class=btn-container>
  
  <a routerLink='/menu/danji'><button type="button" class="btn btn-secondary" style=" margin-right:10px;">단지안내</button></a>
 <button type="button" class="btn btn-orange" style=" margin-right:10px;">커뮤니티</button>
  <a routerLink='/menu/culturecourse'><button type="button" class="btn btn-secondary">문화강좌</button></a>
</div> 
<div class="row">
    <div class="col-sm rounded mx-auto;">
      <h3 class="border-bottom ">커뮤니티</h3>

      <table class="table">
        <tbody>
          <tr>
            <td colspan="4" style="text-align: center;">
              <a href="#"><button type="button" class="btn btn-secondary" style="width: 30%;  margin-right:1%;">명칭1</button></a>
              <a href="#"><button type="button" class="btn btn-secondary" style="width: 30%;  margin-right:1%;">명칭2</button></a>
              <a href="#"><button type="button" class="btn btn-secondary" style="width: 30%; ">명칭3</button></a>
              <a href="#"><button type="button" class="btn btn-orange" style="width: 8%; ">+</button></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="plusimg">
              <a href="#"> <img src="assets/images/c-plus.png" width="100px"/></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center;">
              <a href="#"
                ><button type="button" class="btn btn-light border" style="width:100%; margin-top: 10px;">이미지설명글쓰기</button></a
              >
            </td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center;">
              <a href="#"
                ><button
                  type="button"
                  class="btn btn-light border"
                  style="width: 49%;  margin-top: 10px; margin-bottom: 10px; margin-right:1%"
                >
                  수정하기
                </button></a
              >
              <a href="#"
                ><button
                  type="button"
                  class="btn btn-light border"
                  style="width: 49%;  margin-top: 10px;  margin-bottom: 10px;margin-left:1%"
                >
                  삭제하기
                </button></a
              >
            </td>
          </tr>
          <tr>
            <td colspan="4" class="plusimg">
              <a href="#"> <img src="assets/images/c-plus.png" width="100px"/></a>
            </td>
          </tr>
          <td colspan="4" style="text-align: center;">
            <a href="#"
              ><button type="button" class="btn btn-light border" style="width:100%; margin-top: 10px;">이미지설명글쓰기</button></a
            >
          </td>
          <tr>
            <td colspan="4" style="text-align: center;">
              <a href="#"
                ><button type="button" class="btn btn-light border" style="width: 49%;  margin-top: 10px;  margin-right:1%">
                  수정하기
                </button></a
              >
              <a href="#"
                ><button type="button" class="btn btn-light border" style="width: 49%;  margin-top: 10px; margin-left:1%">
                  삭제하기
                </button></a
              >
            </td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center;">
              <a href="#"><button type="button" class="btn border" style="width: 100%; margin-top: 20px;">추가하기</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm2 rounded mx-auto ">
      <table class="table">
        <tbody>
          <tr>
            <td colspan="3">
              <a href="#"
                ><button type="button" class="btn btn-light border" style="width:32%; height:60px; margin:20px 0.5% ;">설정적용</button></a
              >

              <a href="#"
                ><button type="button" class="btn btn-light border" style="width:32%;height:60px; margin:20px 0.5%;">
                  적용<br />미리보기
                </button></a
              >

              <a href="#"
                ><button type="button" class="btn btn-light border" style="width:32%;height:60px;margin:20px  0.5%;">취소</button></a
              >
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <th scope="row">게시판설정</th>

            <td colspan="3">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline51" />
                <label class="custom-control-label" for="defaultInline51">
                  네, 관리자만 공지글 올리기
                </label>
              </div>
              <br />
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline52" />
                <label class="custom-control-label" for="defaultInline52">
                  아니요, 회원 누구나 공지글 올리기
                </label>
              </div>
            </td>
          </tr>
          <td colspan="5" style="text-align: center; ">
            <a href="#"><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">설정적용</button></a>
            <a href="#"><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">취소</button></a>
          </td>
        </tbody>
      </table>
    </div>

    <div class="col-sm  rounded mx-auto">
      <h3 class="border-bottom ">앱 미리보기</h3>

      <table class="table">
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
