<div class="container">
  <div class="border-bottom">
    <h4>문화강좌</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">메뉴관리</li>
      <li class="breadcrumb-item active" aria-current="page">문화강좌
      </li>
    </ol>
  </nav>
  <div class=btn-container>
  <a routerLink="/menu/bulletinboard"><button type="button" class="btn btn-secondary" style="margin-right:10px; ">공지사항</button></a>
  <a routerLink='/menu/danji'><button type="button" class="btn btn-secondary" style=" margin-right:10px; ">단지안내</button></a>
  <a routerLink='/menu/community'><button type="button" class="btn btn-secondary" style=" margin-right:10px;">커뮤니티</button></a>
 <button type="button" class="btn  btn-orange">문화강좌</button>
</div> 
</div>