<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />





<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
<div class="sidebar-wrap">

  <div class="list-group">

    <!--공지사항-->
    <div class="nested-menu">
      <a class="list-group-item" routerLink="/menu/danji" (click)="addExpandClass('menu-pages')">
        <i class="fas fa-list-ul"></i>&nbsp;
        <span>공지사항 </span>
      </a>
    </div>

    <!--단지안내-->
    <div class="nested-menu">
      <a class="list-group-item" routerLink="/resident/generalresident" (click)="addExpandClass('resident-pages')">
        <i class="far fa-address-card"></i>&nbsp;
        <span>단지안내</span>
      </a>
    </div>
<!--스마트관리비-->
<div class="nested-menu">
    <a class="list-group-item" routerLink="/resident/generalresident" (click)="addExpandClass('resident-pages')">
      <i class="far fa-address-card"></i>&nbsp;
      <span>스마트관리비</span>
    </a>
  </div>
  <!--커뮤니티-->
  <div class="nested-menu">
    <a class="list-group-item" routerLink="/resident/generalresident" (click)="addExpandClass('resident-pages')">
      <i class="far fa-address-card"></i>&nbsp;
      <span>커뮤니티</span>
    </a>
  </div>
  <!--문화강좌-->
  <div class="nested-menu">
    <a class="list-group-item" routerLink="/resident/generalresident" (click)="addExpandClass('resident-pages')">
      <i class="far fa-address-card"></i>&nbsp;
      <span>문화강좌</span>
    </a>
  </div>
  <!--독서실-->
  <div class="nested-menu">
    <a class="list-group-item" routerLink="/resident/generalresident" (click)="addExpandClass('resident-pages')">
      <i class="far fa-address-card"></i>&nbsp;
      <span>독서실</span>
    </a>
  </div>
  <!--주민투표-->
  <div class="nested-menu">
    <a class="list-group-item" routerLink="/resident/generalresident" (click)="addExpandClass('resident-pages')">
      <i class="far fa-address-card"></i>&nbsp;
      <span>주민투표</span>
    </a>
  </div>
   <!--생활지원-->
   <div class="nested-menu">
      <a class="list-group-item" routerLink="/resident/generalresident" (click)="addExpandClass('resident-pages')">
        <i class="far fa-address-card"></i>&nbsp;
        <span>생활지원</span>
      </a>
    </div>
     <!--의무공개-->
  <div class="nested-menu">
      <a class="list-group-item" routerLink="/resident/generalresident" (click)="addExpandClass('resident-pages')">
        <i class="far fa-address-card"></i>&nbsp;
        <span>의무공개</span>
      </a>
    </div>
  </div>
</div>
</nav>
