<mat-card>
  <mat-card-title >
      <mat-icon matPrefix>keyboard_arrow_right</mat-icon>스마트관리비</mat-card-title>
 
</mat-card>

<h3>402동 103호 4월 청구서</h3>

<h4>총금액은 156,745원입니다.</h4>



<table class="table table-bordered">

  <tbody>
    <tr>
      <th scope="row">세대전기료</th>
      <td>22,345원</td>
      <th scope="row">공중전기료</th>
      <td>2,345원</td>
      </tr>
    <tr>
      <th scope="row">승강기</th>
      <td>340원</td>
      <th scope="row">TV수신료</th>
      <td>2,500원</td>
    </tr>
    <tr>
      <th scope="row">기본전기</th>
      <td>0원</td>
      <th scope="row">기타전기료</th>
      <td>0원</td>
      
    </tr>
  </tbody>
</table>
<a href="#" class="btn btn-primary">월별 관리비 청구서</a>
<a href="#" class="btn btn-primary">자동납부신청</a>
