mat-card {
  border-radius: 0;
  padding: 10px;
  background-color: #eee;
}
mat-card-title {
  font-size: 0.8em;
  color: #444;
  vertical-align: middle;
  display: inline-flex;
}
table {
  background-color: #eee;
}
h4 {
  text-align: center;
}

button {
  text-align: center;
}
