// shared css for the login and signup page
@import "../login/login.component.scss";


h6{margin-left: 20px;}
h4{font-weight: 200; color: white;}




input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group {
    
    padding: 0 0;
    input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 1) !important;
    }

    input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 1) !important;
    }

    input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 1) !important;
    }

    input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 1) !important;
    }
}
.form-content {
    padding:60px 0 20px 0;
}
mat-form-field{display:inline;

 }


    



 


.btn{position: absolute;right: 0; bottom: 0;} 
mat-icon{width:40px; height:36px; top:2px;
color:#333; }
.mat-icon{line-height: 0.5px; width:1.5em;width: 36px;}


mat-hint{margin-left: 36px;}


*{color:#555;}
mat-error{color: #f44336; }
.mat-form-field-appearance-outline .mat-form-field-outline
{margin-top:12px; height: 44px; 
    color: rgba($color:gray, $alpha: 1);
    background-color:rgb(232, 240, 254);

border-radius:6px; }
