<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    
    <div class="list-group">

        <div class="nested-menu">
            <a class="list-group-item" routerLink="/menu/bulletinboard"  (click)="addExpandClass('menu-pages')">
                <i class="fas fa-list-ul"></i>&nbsp;
                <span>메뉴관리 </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'menu-pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/menu/bulletinboard" >
                            <span>공지사항</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/menu/danji" >
                            <span>단지안내</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/menu/community" >
                            <span>커뮤니티</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/menu/culturecourse" >
                            <span>문화 강좌</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>


        <div class="nested-menu">
            <a class="list-group-item" routerLink="/resident/generalresident"(click)="addExpandClass('resident-pages')">
                <i class="far fa-address-card"></i>&nbsp;
                <span>입주민관리 </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'resident-pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/resident/generalresident" >
                            <span>일반 입주자 관리</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/resident/communitymember" >
                            <span>커뮤니티 멤버관리</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <a class="list-group-item" routerLink="/staff">
            <i class="fas fa-user-friends"></i>&nbsp;
            <span>직원관리</span>
        </a>


        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('accounting-pages')">
                <i class="fas fa-calculator"></i>&nbsp;
                <span>회계관리 </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'accounting-pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/accounting/wage" >
                            <span>급여관리 </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/accounting/sales" >
                            <span>매출관리</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/accounting/costnotice" >
                            <span>관리비 알림</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('store-pages')">
                <i class="fas fa-shopping-cart"></i>&nbsp;
                <span>스토어관리 </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'store-pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/store/product" >
                            <span>상품관리 </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/store/submanagement" >
                            <span>스토어관리 </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/store/vendor" >
                            <span>판매자관리  </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/store/notice" >
                            <span>공지사항  </span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>



        <a class="list-group-item" routerLink="/locker">
            <i class="fas fa-lock"></i>&nbsp;
            <span>락커좌석관리</span>
        </a>


        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('class-pages')">
                <i class="fas fa-chalkboard-teacher"></i>&nbsp;
                <span>수업관리 </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'class-pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/class/gx" >
                            <span>GX관리</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/class/lesson" >
                            <span>레슨관리</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <a class="list-group-item" routerLink="/attendence">
            <i class="far fa-check-circle"></i>&nbsp;
            <span>출석관리</span>
        </a>
        <a class="list-group-item" routerLink="/service-center">
            <i class="fas fa-coffee"></i>&nbsp;
            <span>생활관리지원</span>
        </a>
        <a class="list-group-item" routerLink="/settings">
            <i class="fas fa-shield-alt"></i>&nbsp;
            <span>권한설정</span>
        </a>
    </div>
</nav>
<!--
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    
    <div class="list-group">
        <a routerLink="/menu" [routerLinkActive]="['router-link-active']" class="list-group-item">메뉴관리</a><br>
        
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>메뉴관리 </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/menu/bulletinboard" >
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>공지사항관리</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/menu/danji" >
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>단지안내관리</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/menu/community" >
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>커뮤니티</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/menu/culturecourse" >
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>문화 강좌</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a>
        
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a>
        <a href="http://www.strapui.com/" class="list-group-item">
            <i class="fa fa-caret-down"></i>&nbsp;
            <span>{{ 'More Themes' | translate }}</span>
        </a>

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
-->