<div class="container">
  <div class="border-bottom">
    <h4>상품등록</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">스토어관리</li>
      <li class="breadcrumb-item active" aria-current="page">상품관리</li>
      <li class="breadcrumb-item active" aria-current="page">상품등록</li>
    </ol>
  </nav>



  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <h3 class="border-bottom ">상품등록</h3>

    </div>
  </div>

  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row" class="borderless">카테고리</th>
          </tr>
          <tr>
            <td>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">카테고리검색</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false" >카테고리선택</a>
                </li>

              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <input class="form-control" type="text" placeholder="카테고리검색" aria-label="Search"
                    style="margin-top: 20px;">

                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>카테고리입력</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>

              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            <th class="borderless" scope="row">상품명</th>

          </tr>
          <tr>

            <td>
              <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="상품명입력">
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row" class="borderless">판매가</th>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">가격입력</th>
            <td>
                <input class="form-control" type="number" placeholder="숫자만입력" id="example-number-input">
            </td>

          </tr>
          <tr>
            <th scope="row">할인</th>
            <td>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light border" style="width: 100px; ">
                  <input type="radio" name="options" id="option1" autocomplete="off">설정함
                </label>
                <label class="btn btn-orange active" style="width: 100px; ">
                  <input type="radio" name="options" id="option2" autocomplete="off" checked> 설정안함
                </label>
              </div>

            </td>
          </tr>
          <tr>
            <th scope="row">판매기간</th>
            <td>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light border" style="width: 100px; ">
                  <input type="radio" name="options" id="option1" autocomplete="off">설정함
                </label>
                <label class="btn btn-orange active" style="width: 100px; ">
                  <input type="radio" name="options" id="option2" autocomplete="off" checked> 설정안함
                </label>
              </div>

            </td>
          </tr>
          <tr>
            <th scope="row">부가세</th>
            <td>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-orange active" style="width: 100px; ">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked>비과세
                </label>
                <label class="btn btn-light border" style="width: 100px; ">
                  <input type="radio" name="options" id="option2" autocomplete="off"> 과세
                </label>
                <label class="btn btn-light border" style="width: 100px; ">
                  <input type="radio" name="options" id="option2" autocomplete="off"> 면세
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row" class="borderless">수량</th>
           
          </tr>
          <tr>

            <td>

              <div class="form-group row">
              
                  <input class="form-control" type="number" placeholder="숫자만입력" id="example-number-input">
                
                  
              </div>



            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row" class="borderless">상품이미지</th>

          </tr>
          <tr>
            <th scope="row">대표이미지</th>
            <td>
              <div class="border r" style="width: 100px; height: 100px;">  
              <a href="#"> <img src="assets/images/c-plus.png" width="100px" /></a>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">추가이미지</th>
            <td >
            <div class="border r" style="width: 100px; height: 100px;"> 
              <a href="#"> <img src="assets/images/c-plus.png" width="100px" /></a>
            </div> 
            
          </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row" class="borderless">상세설명</th>

          </tr>
          <tr>
            <td>
              <div class="form-group">
                  <input type="text"  style="height:200px;" class="form-control" id="" placeholder="상품명입력">
                </div>
          
          </td>
              </tr>

        </tbody>
      </table>
    </div>
  </div>
 
     
     
      
          <tr>
          <td>
            <a href=#><button type="button" class="btn btn-orange" style="width: 100px;">저장하기</button></a>
            <a href=#><button type="button" class="btn btn-light border" style="width: 100px;">취소</button></a>
          </td>
          </tr>
      
      
    
    


</div>