<div class="container">
  <div class="border-bottom">
    <h4>상품등록</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">스토어관리</li>
      <li class="breadcrumb-item active" aria-current="page">상품관리</li>
      <li class="breadcrumb-item active" aria-current="page">상품등록</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <h3 class="border-bottom ">상품등록</h3>
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row">복사등록</th>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row">카테고리</th>
            <td>
            </td>
          </tr>
          <tr>

            <td>
              종목별 검색
            </td>
            <td>
              종목명 입력
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row">상품명</th>
            <td>
            </td>
          </tr>
          <tr>

            <td>
              <input form>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row">판매가</th>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">판매가</th>
            <td>
              숫자만 입력
            </td>

          </tr>
          <tr>
            <th scope="row">할인</th>
            <td>
              <a href=#><button type="button" class="btn btn-secondary"
                  style="width: 100px; margin: 40px 5px;">설정함</button></a>
            </td>
            <td>
              <a href=#><button type="button" class="btn btn-secondary"
                  style="width: 100px; margin: 40px 5px;">설정안함</button></a>
            </td>
          </tr>
          <tr>
            <th scope="row">판매기간</th>
            <td>
              <a href=#><button type="button" class="btn btn-secondary"
                  style="width: 100px; margin: 40px 5px;">설정함</button></a>
            </td>
            <td>
              <a href=#><button type="button" class="btn btn-secondary"
                  style="width: 100px; margin: 40px 5px;">설정안함</button></a>
            </td>
          </tr>
          <tr>
            <th scope="row">부가세</th>
            <td>
              <a href=#><button type="button" class="btn btn-secondary"
                  style="width: 100px; margin: 40px 5px;">과세상품</button></a>
            </td>
            <td>
              <a href=#><button type="button" class="btn btn-secondary"
                  style="width: 100px; margin: 40px 5px;">면세상품</button></a>
            </td>
            <td>
              <a href=#><button type="button" class="btn btn-secondary"
                  style="width: 100px; margin: 40px 5px;">영세상품</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm rounded mx-auto;">
        <table class="table ">
          <tbody>
            <tr>
              <th scope="row">재고수량</th>
              <td>
              </td>
            </tr>
            <tr>

              <td>
                숫자만 입력
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <div class="row">
          <div class="col-sm rounded mx-auto;">
            <table class="table ">
              <tbody>
                <tr>
                  <th scope="row">상품이미지</th>
                 
                </tr>
                <tr>
                    <th scope="row">대표이미지</th>
                   <td><a></a></td>
                  </tr>
                  <tr>
                      <th scope="row">추가이미지</th>
                     <td><a></a></td>
                    </tr>
                
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
            <div class="col-sm rounded mx-auto;">
              <table class="table ">
                <tbody>
                  <tr>
                    <th scope="row">상세설명</th>
                   
                  </tr>
                  <tr>
               <input form="text">
                      </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">저장하기</button></a>
          <a href=#><button type="button" class="btn btn-secondary" style="width: 100px; margin: 40px 5px;">취소</button></a>
  </div>