<div class="container">
  <div class="border-bottom">
    <h4>급여관리</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">회계관리</li>
      <li class="breadcrumb-item active" aria-current="page">급여관리</li>
    </ol>
  </nav>
  <div class=btn-container>
    <button type="button" class="btn btn-orange" style="margin-right:10px; ">급여관리</button>
    <a routerLink=#><button type="button" class="btn btn-secondary" style=" margin-right:10px;">매출관리</button></a>
    <a routerLink=#></a> <button type="button" class="btn btn-secondary">관리비알림</button>
    <a routerLink=#></a> <button type="button" class="btn btn-secondary manager">매니저초대</button>
  </div>

  <div class="row">
    <div class="col-sm rounded mx-auto">


      <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          All
        </button>
        <div class="part">

        </div>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>
              성명
            </td>
            <td>
              부서
            </td>
            <td>
              직책
            </td>
            <td>
              연락처
            </td>
            <td>
              입사일
            </td>
            <td>
              근무시간
            </td>
            <td>
              기본급여
            </td>
            <td>
              레슨수당
            </td>
            <td>
              레슨근무시급차감
            </td>
            <td>
              레슨시설사용료
            </td>
            <td>
              고용보험
            </td>
            <td>
              산재보험
            </td>
            <td>
              급여지급일
            </td>
            <td>
              급여계좌
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>
          <tr>
            <td colspan="14">
            </td>
          </tr>


          <tr>
              <td colspan="12">
                  <a href=#><button type="button" class="btn btn-light"style="width: 100%; margin: 40px 0; border:1px dotted #ccc;">+</button></a>
              </td>
            <td colspan="2" style="text-align: center;">
              <a href=#><button type="button" class="btn btn-secondary"
                  style="width: 90px; margin: 40px 5px;">스토어결산내역</button></a>
              <a href=#><button type="button" class="btn btn-secondary"
                  style="width: 90px; margin: 40px 5px;">출</button></a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>