<mat-card>
    <mat-card-title >
        <mat-icon matPrefix>keyboard_arrow_right</mat-icon>공지사항
    </mat-card-title>
   
</mat-card>



<table class="table">
   
        <tbody>
            <tr>
                <th scope="row">10</th>
                <td>공지</td>
                <td>관리자</td>
                <td>2019.04.30</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>공지</td>
                <td>관리자</td>
                <td>2019.04.30</td>
              </tr>
          <tr>
            <th scope="row">8</th>
            <td>안녕하세요</td>
            <td>관리자</td>
            <td>2019.04.30</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>공지</td>
            <td>관리자</td>
            <td>2019.04.29</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>공지</td>
            <td>관리자</td>
            <td>2019.04.28</td>
          </tr>
          <tr>
              <th scope="row">5</th>
              <td>공지</td>
              <td>관리자</td>
              <td>2019.04.27</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>공지</td>
                <td>관리자</td>
                <td>2019.04.26</td>
              </tr>
              <tr>
                  <th scope="row">3</th>
                  <td>공지</td>
                  <td>관리자</td>
                  <td>2019.04.25</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>공지</td>
                    <td>관리자</td>
                    <td>2019.04.24</td>
                  </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>공지</td>
                      <td>관리자</td>
                      <td>2019.04.23</td>
                    </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link">1</a></li>
      
            <li class="page-item">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>