<mat-card class="small-head">
  <mat-card-title >
      <mat-icon matPrefix>keyboard_arrow_right</mat-icon>주민투표</mat-card-title>
 
</mat-card>




<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>경비원 임금인상 찬반투표</mat-card-title>
    
    
  </mat-card-header>

  <mat-card-content>
    
   <H4>전자투표시작일</H4> <H5>2019-04-21</H5>
   <H4> 전자투표종료일 </H4><H5>2019-05-21</H5>
   
  </mat-card-content>
  <mat-card-actions>
      <button mat-stroked-button ><mat-icon>+</mat-icon><br>자세히보기</button>
      <button mat-stroked-button ><mat-icon>touch_app</mat-icon><br>투표하기</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
  
    <mat-card-title>중계기 설치장소 투표</mat-card-title>
   
  </mat-card-header>
  
  <mat-card-content>
    
   <H4>전자투표시작일</H4> <H5>2019-04-10</H5>
   <H4> 전자투표종료일 </H4><H5>2019-05-10</H5>
   
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button ><mat-icon>+</mat-icon><br>자세히보기</button>
    <button mat-stroked-button ><mat-icon>touch_app</mat-icon><br>투표하기</button>
  </mat-card-actions>
</mat-card>