.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: url(/assets/images/mypage/bg2.jpg) no-repeat scroll center center / cover;
    text-align: center;
    padding: 3em;
  
  }
  
  
  
  h4{
    font-size: 1.2rem;
  color: #555;
  }
  
  
  
  
  
  
  
  
  .container{width: 600px; height: auto; margin: 40px auto;
}
 
  
  
  
  mat-card{
    top: 2px;
    vertical-align: middle;
    padding:3rem;    
  }
  
  