<div class="container">
  <div class="border-bottom">
    <h4>직원관리</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">직원관리</li>
    </ol>
  </nav>
  <div class="btn-container">
    <button type="button" class="btn btn-orange" style=" margin-right:10px;">초대하기</button>
    <button type="button" class="btn btn-secondary">검색하기</button>
    <button type="button" class="btn btn-secondary manager">매니저초대</button>
  </div>
</div>
