<div class="container">
  <div class="border-bottom">
    <h4>일반 입주자 관리</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">입주민관리</li>
      <li class="breadcrumb-item active" aria-current="page">일반 입주자관리</li>
    </ol>
  </nav>
  <div class="btn-container">
    <a routerLink="#"><button type="button" class="btn btn-orange" style=" margin-right:10px;">초대하기</button></a>

    <a routerLink="#"></a> <button type="button" class="btn btn-secondary">EPR가져오기</button> <a routerLink="#"></a>
    <button type="button" class="btn btn-secondary manager">매니저초대</button>
  </div>

  <!-- Filter Search Bar -->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="검색하기" />
  </mat-form-field>

  <br />
  <mat-label>승인대기 입주민</mat-label>
  <button mat-button (click)="personallyApproveAUser()">입주민 직접 승인 해주기</button>
  <div class="mat-elevation-z8">
    <!-- WAIT LIST TABLE -->
    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>성명</th>
        <td mat-cell *matCellDef="let person">{{ person.name }}</td>
      </ng-container>
      <ng-container matColumnDef="donghosu">
        <th mat-header-cell *matHeaderCellDef>동호수</th>
        <td mat-cell *matCellDef="let person">{{ person.donghosu }}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>연락처</th>
        <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
      </ng-container>
      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef>첨부 파일</th>
        <td mat-cell *matCellDef="let person">
          <button mat-raised-button (click)="showFile(person)">File</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef>승인</th>
        <td mat-cell *matCellDef="let person">
          <button mat-raised-button (click)="openDialog(person, 'APPROVE', 3)">승인</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>삭제</th>
        <td mat-cell *matCellDef="let person">
          <mat-icon style="cursor:pointer" (click)="openDialog(person, 'DELETE', 1)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
  <!--
      <br /><br />
      <mat-label> 초대된 입주민 </mat-label>
      <div class="mat-elevation-z8">
        <br />
        
        Invited List Table
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>성명</th>
            <td mat-cell *matCellDef="let person">{{ person.name }}</td>
          </ng-container>
          <ng-container matColumnDef="donghosu">
            <th mat-header-cell *matHeaderCellDef>동호수</th>
            <td mat-cell *matCellDef="let person">{{ person.donghosu }}</td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>연락처</th>
            <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
          </ng-container>
          
          Add 'Cancel Invite' Button
          Add 'Resend Invite' Button

          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
-->

  <br /><br />
  <mat-label> 승인된 입주민 </mat-label>
  <div class="mat-elevation-z8">
    <br />
    <!-- APPROVED LIST TABLE -->
    <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>성명</th>
        <td mat-cell *matCellDef="let person">{{ person.name }}</td>
      </ng-container>
      <ng-container matColumnDef="donghosu">
        <th mat-header-cell *matHeaderCellDef>동호수</th>
        <td mat-cell *matCellDef="let person">{{ person.donghosu }}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>연락처</th>
        <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="staff">
        <th mat-header-cell *matHeaderCellDef>승인자</th>
        <td mat-cell *matCellDef="let person">{{ person.staff }}</td>
      </ng-container>
      <ng-container matColumnDef="approvedDate">
        <th mat-header-cell *matHeaderCellDef>승인일자</th>
        <td mat-cell *matCellDef="let person">{{ person.approvedDate | date: 'yyyy-mm-dd' }}</td>
      </ng-container>
      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef>첨부 파일</th>
        <td mat-cell *matCellDef="let person">
          <button mat-raised-button (click)="showFile(person)">File</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="out">
        <th mat-header-cell *matHeaderCellDef>퇴거</th>
        <td mat-cell *matCellDef="let person">
          <button mat-raised-button (click)="openDialog(person, 'MOVE OUT', 5)">퇴거</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>

  <br /><br />
  <mat-label> 퇴거된 입주민 </mat-label>
  <div class="mat-elevation-z8">
    <br />
    <!-- EVICTED LIST TABLE -->
    <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>성명</th>
        <td mat-cell *matCellDef="let person">{{ person.name }}</td>
      </ng-container>
      <ng-container matColumnDef="donghosu">
        <th mat-header-cell *matHeaderCellDef>동호수</th>
        <td mat-cell *matCellDef="let person">{{ person.donghosu }}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>연락처</th>
        <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
      </ng-container>
      <ng-container matColumnDef="staff">
        <th mat-header-cell *matHeaderCellDef>퇴거자</th>
        <td mat-cell *matCellDef="let person">{{ person.staff }}</td>
      </ng-container>
      <!--
      <ng-container matColumnDef="outDate">
        <th mat-header-cell *matHeaderCellDef>퇴거일자</th>
        <td mat-cell *matCellDef="let person">{{ person.outDate | date: 'yyyy-mm-dd' }}</td>
      </ng-container>
    -->
      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef>첨부 파일</th>
        <td mat-cell *matCellDef="let person">
          <button mat-raised-button (click)="showFile(person)">File</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns4"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<!--
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <p>승인대기 입주민(<span class="orange">n</span>)</p>
      <table class="table ">
        <tbody>
          <tr>

            <td>
              성명
            </td>
            <td>
              동/호수
            </td>
            <td>
              연락처
            </td>
            <td>
              신청일
            </td>
            <td>
              승인여부
            </td>
            <td>
              첨부서류
            </td>
          </tr>
          <tr>
            <td colspan="7" class="g">
            </td>
          </tr>
          <tr>
            <td class="borderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="borderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="borderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="boderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="boderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="boderless g" colspan="7">
              <a href="#"> <img src="assets/images/c-plus.png" width="30px" style="float: right;" /></a>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
    <div class="col-sm rounded mx-auto;">
      <p>직접승인 입주민(<a class="orange">n</a>)</p>
      <table class="table">
        <tbody>
          <tr>

            <td>
              성명
            </td>
            <td>
              동/호수
            </td>
            <td>
              연락처
            </td>
            <td>
              승인여부
            </td>
            <td>
              승인자
            </td>
            <td>
              승인일자
            </td>
            <td>
              첨부
            </td>
          </tr>

          <tr>
            <td colspan="9">
            </td>
          </tr>
          <tr>
            <td class="borderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="borderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="borderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="borderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
              <a href="#"> <img src="assets/images/c-plus.png" width="30px" style="float: right;" /></a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <p>초대자 리스트(<a class="orange">n</a>)</p>
      <table class="table ">
        <tbody>
          <tr>

            <td>
              성명
            </td>
            <td>
            동/호수
            </td>
            <td>
              연락처
            </td>
            <td>
              초대취소
            </td>
            <td>
              다
            </td>
            <td>
              퇴사사유
            </td>

          </tr>
          <tr>
            <td colspan="6">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
              <a href="#"> <img src="assets/images/c-plus.png" width="30px" style="float: right;" /></a>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
    <div class="col-sm rounded mx-auto;">
      <p>승인완료 입주민</p>
      <table class="table ">
        <tbody>
          <tr>

            <td>
            </td>
          <tr>
          <tr>
            <td colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
            </td>
          </tr>
          <tr>
            <td class="boderless" colspan="9">
              <a href="#"> <img src="assets/images/c-plus.png" width="30px" style="float: right;" /></a>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm rounded mx-auto;">
      <p>퇴거자 리스트(<a class="orange">n</a>)</p>
      <table class="table ">
        <tbody>
          <tr>

            <td>
              성명
            </td>
            <td>
              동/호수
            </td>
            <td>
              연락처
            </td>
            <td>
              승인여부
            </td>
            <td>
              승인자
            </td>
            <td>
              승인일자
            </td>
            <td>
              첨부
            </td>
            <td>
              유형
            </td>
          </tr>
          <tr>
            <td colspan="7" class="g">
            </td>
          </tr>
          <tr>
            <td class="boderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="boderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="boderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="boderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="boderless g" colspan="7">
            </td>
          </tr>
          <tr>
            <td class="boderless g" colspan="7">
              <a href="#"> <img src="assets/images/c-plus.png" width="30px" style="float: right;" /></a>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
    -->
