<div class="container">
    <div class="border-bottom">
      <h4>일반입주민관리</h4>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">입주민관리</li>
        <li class="breadcrumb-item active" aria-current="page">일반입주민관리</li>
      </ol>
    </nav>
    <div class=btn-container>  
          <a routerLink=#><button type="button" class="btn btn-orange" style=" margin-right:10px;">초대하기</button></a>
      <a routerLink=#></a> <button type="button" class="btn btn-secondary"style=" margin-right:10px;">검색하기</button>
      <a routerLink=#></a> <button type="button" class="btn btn-secondary">EPR가져오기</button>
      <a routerLink=#></a> <button type="button" class="btn btn-secondary manager">매니저초대</button>
      
    </div>
    </div>