
.header-wrap{
    width: 940px!important;
height: auto;
margin: 0 auto;
vertical-align: middle;
display: inline-flex;

}
$topnav-background-color:orange;
:host {
    .navbar {
     
        background-color: $topnav-background-color;
        border-bottom: 1px solid #ddd;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #000000;
            &:hover {
                color: #fff;
            }
        }
    }

    .mat-flat-button{
        border-radius: 0 !important;
    height: 40px;
}
    .navbar-brand{ margin-left: 10px;}
    
    ul{
float: right;} 
li, a{color: darkslategray; }
.nav-link{  display: inline-flex;}
.dropdown-item:hover{background-color:transparent;}

    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

