<mat-card>
  <mat-card-title >
      <mat-icon matPrefix>keyboard_arrow_right</mat-icon>단지안내
  </mat-card-title>
 
</mat-card>




<mat-card>
  <mat-card-title>
    송도 더샵 센트럴파크 
</mat-card-title>
<mat-card-content>
  <p>
    - 최고 47층, 15개동, 총 2610가구의 대규모 주상복합단지<br>
    - 전용면적 59~172㎡의 다양한 평형으로 구성<br>
    - 지하철 인천 1호선 지식정보단지역과 테크노파크역 사이에 자리잡은 더블역세권으로 교통이 편리<br>
    - 인천경제자유구역의 핵심 송도 랜드마크시티 내 위치, 미래가치 기대 
  </p>
  <img style="margin-bottom: 20px;" width="100%;"  src="https://c.pxhere.com/photos/e5/9d/songdo_incheon_korea_building_songdo_central_park_park_0_won_seawater-398699.jpg!d">
  <img style="margin-bottom: 20px;" width="100%;"src="https://c.pxhere.com/photos/f1/22/songdo_incheon_korea_building_songdo_central_park_park_0_won_seawater_sculpture-398693.jpg!d">

  <img style="margin-bottom: 40px;" width="100%" src="https://c.pxhere.com/photos/4b/f1/songdo_incheon_korea_building_songdo_central_park_park_0_won_seawater-398710.jpg!d">



</mat-card-content>


</mat-card>
